---
---

@import "{{ site.theme }}";
p img {
    max-width:100%;
}
a.itunes {
    display: block;
    height: 50px;
    background: url(../images/iTunes.svg) no-repeat 1px;
    margin: 20px;
}
iframe.youtube {
    max-width:100%;
}
